name: Production Deployment with CI/CD

on: 
  push:
    branches: [main]

jobs:
  deploy: 
    runs-on: self-hosted

    steps: 
      - name: Checkout Code
        uses: actions/checkout@v4
      


      - name: Create Env File
        run: |
          cat <<EOF > .env.stage.prod
          DATABASE=${{ secrets.DATABASE }}
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          DB_PASSWORD=${{ secrets.DB_PASSWORD }}
          DB_USERNAME=${{ secrets.DB_USERNAME }}
          DB_PORT=${{ secrets.DB_PORT }}
          PORT=${{ secrets.PORT }}
          DB_HOST=${{ secrets.DB_HOST }}
          EOF

      - name: Deploy with Docker Compose
        run: |
          docker compose up -d --build
          docker image prune -f