name: Production Deployment with CI/CD

on: 
  push:
    branches: [main]

jobs:
  deploy: 
    runs-on: self-hosted

    steps: 
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Install & Build
        run: |
          npm ci
          npm run build
      
      - name: Move build to Production
        run: |
          mkdir -p ~/task-management/dist
          rsync -avz --delete dist/ package.json package-lock.json ecosystem.config.js ~/task-management/

          echo "DATABASE=${{ secrets.DATABASE }}" > ~/task-management/.env.stage.prod
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> ~/task-management/.env.stage.prod
          echo "EXPIRES_IN=${{ secrets.EXPIRES_IN }}" >> ~/task-management/.env.stage.prod
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> ~/task-management/.env.stage.prod
          echo "DB_USERNAME=${{ secrets.DB_USERNAME }}" >> ~/task-management/.env.stage.prod
          echo "DB_PORT=${{ secrets.DB_PORT }}" >> ~/task-management/.env.stage.prod
          echo "PORT=${{ secrets.PORT }}" >> ~/task-management/.env.stage.prod
          echo "DB_HOST=${{ secrets.DB_HOST }}" >> ~/task-management/.env.stage.prod
      
      - name: Production Install & Restart
        run: |
          cd ~/task-management
          npm install --omit=dev
          pm2 reload ecosystem.config.js --update-env
          pm2 save